@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-white;
  color:black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #5d5d5d;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}